* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  list-style: none;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: white;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-xmark {
  cursor: pointer;
}

a {
  color: rgb(185, 185, 185);
  text-decoration: none;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  transition: 0.2s;
}

a:hover {
  color: white;
}

.todo-body {
  position: relative;
  padding: 1rem;
  width: 30%;
  min-height: 62vh;
  overflow-y: auto;
  margin: 2rem auto;
  background: linear-gradient(to right, rgb(163, 93, 188), rgb(100, 30, 143));
  border-radius: 5px;
}

.formData {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 100;
  background: linear-gradient(to right, rgb(163, 93, 188), rgb(43, 2, 68));
  padding: 1rem;
  border-radius: 5px;
  top: 0;
  left: 0;
  gap: 0.5rem;
}

.fa-plus {
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border: 3px solid rgb(126, 126, 126);
  border-radius: 5px;
}

#todo-input {
  width: 90%;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  margin: 0 auto;
  padding: 1rem;
  letter-spacing: 0.1rem;
}

.footer,
.social__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  color: white;
}

.social-icons i {
  color: rgb(255, 255, 255);
}

.footer {
  font-size: 1.2rem;
}

@media (max-width: 1250px) {
  .todo-body {
    width: 60%;
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 660px) {
  .todo-body {
    width: 80%;
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 500px) {
  .todo-body {
    width: 90%;
    transition: all 0.2s ease-in-out;
  }
  .footer {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }
}

@media (max-width: 430px) {
  #todo-input {
    font-size: 0.8rem;
    transition: all 0.2s ease-in-out;
  }
}
